h1 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
  text-align: center;
  font-family: Helvetica;
  font-size: 100px;
  color: khaki;
}

h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

#brushes {
  color: white;
  background-color: mediumspringgreen;
}

#frames {
  color: white;
  background-color: lightcoral;
}

#paint {
  color: white;
  background-color: skyblue;
}

.price {
  color: blue;
  font-weight: bold;
}
